
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

button {
  margin: 50vh auto;
  display: block;
  height: 100px;
  width: 250px;
  border-radius: 0;
  background: linear-gradient(top, #FFFFFF, #D6D6D6);
  background:-webkit-linear-gradient(top, #FFFFFF, #D6D6D6);
  background:-moz-linear-gradient(top, #FFFFFF, #D6D6D6);
}

button:active {
  background: linear-gradient(bottom, #F0F0F0, #D6D6D6);
  background:-webkit-linear-gradient(bottom, #F1F1F1, #D6D6D6);
  background:-moz-linear-gradient(bottom, #F1F1F1, #D6D6D6);
}
